html {
  width: 100%;
  max-width: 100%;
  min-width: 1300px; }

body {
  width: 100%;
  max-width: 100%;
  min-width: 1300px;
  background-color: #f2f2f2; }

.content {
  min-width: 1300px;
  max-width: 1920px;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto; }

/*------------------------NAVBAR----------------------------------------*/
.navbar-default {
  background-color: transparent;
  border: 0; }

.navbar-default .navbar-nav > li > a {
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none; }
  .navbar-default .navbar-nav > li > a::before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #b79b27;
    transition: width .5s ease-in-out, left .5s ease-in-out;
    left: 50%;
    bottom: 0; }
  .navbar-default .navbar-nav > li > a::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #b79b27;
    transition: width .5s ease-in-out;
    left: 50%;
    bottom: 0; }
  .navbar-default .navbar-nav > li > a:hover::before {
    width: 50%;
    left: 0; }
  .navbar-default .navbar-nav > li > a:hover::after {
    width: 50%; }

.brand-pos {
  position: relative; }

.navbar-default .navbar-brand {
  color: white;
  margin-left: -12px;
  left: 10px; }

.navbar-default .navbar-brand:hover {
  color: #f4bc57; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ceb345; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b79b27; }

/* line 45, ../sass/style.scss */
.navbar-default {
  margin-top: 40px; }

.navbar-default .navbar-nav li {
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 7px;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

.pic {
  max-height: 1024px;
  height: auto;
  background-image: url("../img/bg-slider.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.brand-font {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  transition: all 0.6s ease-out 0.1s; }

.logo {
  float: left;
  left: -10px; }

.search {
  width: 24px;
  height: 24px; }
  .search img {
    margin-left: 100px;
    width: 24px;
    margin-top: 12px;
    height: 24px; }

/*--------------------------------------NAVBAR-END------------------------------*/
/*--------------------------------------SLIDER----------------------------------*/
.slider-wrapper {
  position: relative;
  max-height: 880px;
  height: auto;
  margin: auto 0;
  width: 100%;
  z-index: 100; }

.item {
  height: 900px; }

.slide {
  height: inherit;
  position: relative; }

.posarr1,
.posarr2 {
  position: absolute;
  height: 80px;
  top: 37%; }
  .posarr1 img,
  .posarr2 img {
    opacity: 0.65;
    transition: all 0.2s ease-in 0.05s; }
    .posarr1 img:hover,
    .posarr2 img:hover {
      opacity: 1;
      transform: scale(1.1, 1.1); }

.slider-text {
  width: 35%;
  position: absolute;
  left: 34%;
  top: 26%;
  color: white;
  text-align: center; }
  .slider-text .text1 {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    line-height: 34px; }
  .slider-text .text2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 44px; }
  .slider-text .text3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    width: 500px;
    margin: 0 auto; }

.carousel-control,
.carousel-control:hover {
  filter: none;
  opacity: 1;
  text-shadow: none; }

.carousel-control.left,
.carousel-control.right {
  background-image: none; }

.carousel-indicators li {
  border-color: #d3c1ad;
  background-color: #969493; }

.carousel-indicators .active {
  background-color: transparent; }

/*--------------------------------------SLIDER----------------------------------*/
/*--------------------------------------CONTENT BLOCK #1------------------------*/
.block1 {
  height: 350px;
  background-color: #ffffff; }
  .block1 .list-prop {
    margin: 0 auto;
    margin-top: 80px; }
    .block1 .list-prop li {
      display: inline-block;
      list-style-type: none;
      height: 260px;
      width: 23%;
      opacity: 0.8;
      transition: all 0.15s ease-in 0.05s; }
      .block1 .list-prop li span {
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-top: 25px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #555555; }
      .block1 .list-prop li a:hover {
        text-decoration: none; }
      .block1 .list-prop li .list-line {
        background-image: url("../img/block1_line.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 70px;
        height: 3px; }
      .block1 .list-prop li .logo1,
      .block1 .list-prop li .logo2,
      .block1 .list-prop li .logo3,
      .block1 .list-prop li .logo4 {
        transition: all 0.15s ease-in 0.05s; }
      .block1 .list-prop li .list-logo {
        width: 51px;
        height: 49px;
        display: block;
        margin: 0 auto; }
      .block1 .list-prop li .pen {
        display: block;
        background-image: url("../img/web-app.png");
        background-repeat: no-repeat;
        margin: 0 auto; }
      .block1 .list-prop li .development {
        display: block;
        background-image: url("../img/development.png");
        background-repeat: no-repeat;
        margin: 0 auto; }
      .block1 .list-prop li .customiz {
        display: block;
        background-image: url("../img/customization.png");
        background-repeat: no-repeat;
        margin: 0 auto; }
      .block1 .list-prop li .market {
        display: block;
        background-image: url("../img/marketing.png");
        background-repeat: no-repeat;
        margin: 0 auto; }
      .block1 .list-prop li .list-text {
        text-align: center;
        margin-top: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: #8c8c8c;
        font-weight: bold; }
      .block1 .list-prop li:hover .logo1, .block1 .list-prop li:hover .logo2, .block1 .list-prop li:hover .logo3, .block1 .list-prop li:hover .logo4 {
        background-image: url("../img/block1_line_active.png"); }
      .block1 .list-prop li:hover {
        cursor: pointer;
        transform: scale(1.1, 1.1);
        opacity: 1; }
      .block1 .list-prop li:hover .list-text {
        color: #c69357; }
      .block1 .list-prop li:hover span {
        color: #c69357; }
      .block1 .list-prop li:hover .pen {
        background-image: url("../img/web-app-active.png"); }
      .block1 .list-prop li:hover .development {
        background-image: url("../img/development-active.png"); }
      .block1 .list-prop li:hover .customiz {
        background-image: url("../img/customization-active.png"); }
      .block1 .list-prop li:hover .market {
        background-image: url("../img/marketing-active.png"); }

/*--------------------------------------CONTENT BLOCK #1------------------------*/
/*--------------------------------------CONTENT BLOCK #2------------------------*/
.block2 {
  background-color: #fbfaf8;
  padding-top: 5px;
  height: 560px;
  margin-bottom: 10px;
  /*----------------------------------------*/ }
  .block2 .block21 {
    margin-top: 60px;
    color: #555555; }
    .block2 .block21 .block2-text1 {
      font-family: 'Raleway', sans-serif;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px; }
    .block2 .block21 .block2-text2 {
      text-align: center;
      width: 55%;
      margin: 0 auto;
      font-size: 12px;
      color: #9E9D9D;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold; }
  .block2 .example-desc {
    margin: 3px 0;
    padding: 5px; }
  .block2 #carousel100 {
    margin-top: 5px;
    width: 100%;
    height: 400px;
    position: relative;
    clear: both;
    overflow: hidden;
    background: #FFF;
    text-align: center;
    background-color: #FBFAF8; }
  .block2 #carousel100 > a > img {
    width: 57%;
    height: 85%;
    /* hide images until carousel can handle them */
    cursor: pointer;
    /* otherwise it's not as obvious items can be clicked */ }
  .block2 .split-left {
    width: 20%;
    float: left; }
  .block2 .split-right {
    width: 20%;
    float: left;
    margin-left: 10px; }
  .block2 #callback-output {
    height: 100%; }
  .block2 .dg-container {
    margin-top: 50px;
    width: 100%;
    height: 356px;
    position: relative; }
  .block2 .dg-wrapper {
    width: 481px;
    height: 316px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px; }
  .block2 .dg-wrapper a {
    width: 500px;
    height: 316px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); }
  .block2 .dg-wrapper a.dg-transition {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .block2 .dg-wrapper a img {
    display: block;
    padding: 0px 0px 0px 1px;
    width: 500px;
    height: 316px; }
  .block2 .dg-container nav span {
    text-indent: -9000px;
    float: left;
    cursor: pointer;
    width: 24px;
    height: 25px;
    opacity: 0.8; }

#prev100 {
  display: block;
  background: url("../img/left-arrow-ac.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 50px;
  position: absolute;
  top: 40%;
  left: -3%;
  opacity: 0.6;
  transition: all 0.15s ease-in 0.05s; }
  #prev100:hover {
    background: url("../img/left-arrow-ac-active.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    transform: scale(1.15, 1.15); }

#next100 {
  display: block;
  background: url("../img/right-arrow-ac.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 40%;
  right: -3%;
  opacity: 0.6;
  z-index: 100;
  transition: all 0.15s ease-in 0.05s; }
  #next100:hover {
    background: url("../img/right-arrow-ac-active.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    transform: scale(1.15, 1.15); }

/*--------------------------------------CONTENT BLOCK #2------------------------*/
/*--------------------------------------CONTENT BLOCK #3------------------------*/
.block3 {
  height: 400px;
  background-image: url("../img/bg-block3.png");
  background-repeat: no-repeat;
  height: 152px;
  margin-top: -10px;
  position: relative; }
  .block3 .block3-text1 {
    margin-left: 40px;
    margin-top: 47px;
    width: 45%;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 24px; }
    .block3 .block3-text1 span {
      color: #c7b299; }
  .block3 .block3-text2 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    color: #615855;
    font-weight: bold;
    font-size: 15px;
    width: 45%; }
  .block3 #purchaise {
    position: absolute;
    right: 25px;
    top: 55%;
    width: 170px;
    height: 50px;
    border: 0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    background-image: url("../img/purchaise.png");
    border-radius: 5px;
    font-weight: bold;
    opacity: 0.65;
    transition: all 0.15s ease-in 0.05s; }
    .block3 #purchaise:hover {
      opacity: 1;
      transform: scale(1.05, 1.05); }

/*--------------------------------------CONTENT BLOCK #3------------------------*/
/*--------------------------------------CONTENT BLOCK #4------------------------*/
.block4 {
  box-sizing: border-box;
  min-height: 700px;
  height: auto;
  background-color: #ffffff;
  padding-top: 25px;
  position: relative; }
  .block4 .block4-text1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 24px;
    color: #555555; }
  .block4 .block4-text2 {
    padding-top: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #8c8c8c;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    width: 65%;
    margin: 0 auto; }
  .block4 .nav-buttons .project-buttons {
    width: 70%;
    margin: 0 auto;
    margin-top: 42px; }
    .block4 .nav-buttons .project-buttons li:first-child button {
      width: 80px; }
    .block4 .nav-buttons .project-buttons li:last-child button {
      width: 140px; }
    .block4 .nav-buttons .project-buttons li {
      list-style-type: none;
      float: left;
      margin-right: 10px; }
      .block4 .nav-buttons .project-buttons li button {
        height: 33px;
        line-height: 33px;
        text-align: center;
        width: 120px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        color: #8c8c8c;
        font-weight: 500;
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        outline: none;
        transition: all 0.12s ease-in 0.05s; }
        .block4 .nav-buttons .project-buttons li button:hover {
          background-color: #998675;
          color: #ffffff;
          border: none;
          outline: none; }
    .block4 .nav-buttons .project-buttons .active-prog {
      background-color: #998675;
      color: #ffffff;
      border: none;
      outline: none; }
  .block4 .projects {
    padding-top: 40px; }
    .block4 .projects .project1 {
      width: 350px;
      height: 340px; }
      .block4 .projects .project1 .desc-img {
        position: absolute;
        height: 240px;
        width: 350px;
        z-index: 100;
        background-color: #2f2f2f;
        opacity: 0;
        transition: all 0.15s ease-out 0.05s; }
        .block4 .projects .project1 .desc-img:hover {
          cursor: pointer;
          opacity: 0.7; }
        .block4 .projects .project1 .desc-img .desc-link {
          position: absolute;
          left: 37%;
          top: 45%;
          background: url("../img/link-pr-active.png");
          background-repeat: no-repeat;
          width: 27px;
          height: 27px;
          opacity: 0.7;
          transition: all 0.25 ease-out 0.1; }
          .block4 .projects .project1 .desc-img .desc-link:hover {
            background: url("../img/link-pr.png");
            background-repeat: no-repeat;
            opacity: 1;
            transform: scale(1.1, 1.1); }
        .block4 .projects .project1 .desc-img .desc-search {
          position: absolute;
          left: 50%;
          top: 45%;
          background: url("../img/lupa.png");
          background-repeat: no-repeat;
          width: 27px;
          height: 27px;
          opacity: 0.7;
          transition: all 0.25 ease-out 0.1; }
          .block4 .projects .project1 .desc-img .desc-search:hover {
            background: url("../img/lupa-active.png");
            background-repeat: no-repeat;
            opacity: 1;
            transform: scale(1.1, 1.1); }
      .block4 .projects .project1 .pr1-img {
        position: relative;
        width: 350px;
        height: 240px;
        z-index: 1; }
        .block4 .projects .project1 .pr1-img .prog-img {
          width: 350px;
          height: 240px; }
      .block4 .projects .project1 .p1-description {
        width: 350px;
        height: 100px;
        position: absolute;
        bottom: 14px;
        background: url("../img/description.png");
        z-index: 5;
        transition: all 0.1s ease-in 0.05s; }
        .block4 .projects .project1 .p1-description .desc-text1 {
          color: #cab79f;
          margin-top: 30px;
          margin-left: 30px;
          font-size: 17px;
          font-family: 'Raleway', sans-serif;
          font-weight: 600; }
        .block4 .projects .project1 .p1-description .desc-text2 {
          margin-top: 6px;
          margin-left: 30px;
          color: #d1d1d1;
          font-size: 13px;
          font-family: 'Montserrat', sans-serif; }
    .block4 .projects .prog-nav {
      display: none; }
      .block4 .projects .prog-nav li {
        list-style-type: none; }
        .block4 .projects .prog-nav li:nth-of-type(n):hover .p1-description {
          background: url("../img/description-active.png");
          position: absolute;
          cursor: pointer;
          z-index: 100; }
        .block4 .projects .prog-nav li:hover .desc-img {
          cursor: pointer;
          opacity: 0.7; }
    .block4 .projects .but-position {
      text-align: center; }
    .block4 .projects .button-prog {
      width: 170px;
      height: 50px;
      border: 0;
      color: #ffffff;
      font-family: 'Raleway', sans-serif;
      background-image: url("../img/purchaise.png");
      border-radius: 5px;
      font-weight: bold;
      margin-bottom: 50px;
      opacity: 0.65;
      transition: all 0.12s ease-in 0.05s;
      outline: none; }
      .block4 .projects .button-prog:hover {
        opacity: 1;
        transform: scale(1.05, 1.05); }
  .block4 .block-mb {
    margin-bottom: 20px; }

/*--------------------------------------CONTENT BLOCK #4------------------------*/
/*--------------------------------------CONTENT BLOCK #5------------------------*/
.block5 {
  position: relative;
  margin-bottom: -5px; }
  .block5 .text-vid {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 905px; }
    .block5 .text-vid .video-text {
      position: absolute;
      height: 99.45%;
      max-height: 905px;
      background-color: black;
      opacity: 0.5;
      color: white;
      z-index: 10;
      margin-bottom: -10px; }
      .block5 .text-vid .video-text .video-text1 {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        left: 36%;
        top: 43%;
        font-weight: 600;
        position: absolute; }
      .block5 .text-vid .video-text .video-text2 {
        width: 34%;
        text-align: center;
        position: absolute;
        left: 31%;
        top: 51%;
        font-family: 'Montserrat', sans-serif; }
      .block5 .text-vid .video-text .video-text3 {
        position: absolute;
        left: 47%;
        top: 58%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #b28d61;
        font-size: 16px; }
      .block5 .text-vid .video-text .play-button {
        width: 100px;
        height: 100px;
        position: absolute;
        border-radius: 50%;
        left: 45%;
        top: 30%;
        margin: auto 0;
        transition: all 0.15s ease-in 0.05s; }
        .block5 .text-vid .video-text .play-button:hover {
          background-color: #2c2727;
          cursor: pointer;
          z-index: 1000; }
        .block5 .text-vid .video-text .play-button .play-vid {
          margin-left: 13px;
          margin-top: 12px;
          transition: all 0.15s ease-in 0.05s; }
          .block5 .text-vid .video-text .play-button .play-vid:hover {
            transform: scale(1.07, 1.07); }
    .block5 .text-vid .full-button {
      width: 90px;
      height: 90px;
      position: absolute;
      z-index: 10000;
      border-radius: 50%;
      left: 45%;
      top: 80%;
      opacity: 0.5;
      transition: all 0.15s ease-in 0.05s;
      display: none; }
      .block5 .text-vid .full-button:hover {
        background-color: #2c2727;
        cursor: pointer; }
      .block5 .text-vid .full-button .full-vid {
        width: 70%;
        height: 70%;
        margin-left: 12px;
        margin-top: 12px;
        opacity: 0.65;
        transition: all 0.15s ease-in 0.05s; }
        .block5 .text-vid .full-button .full-vid:hover {
          opacity: 1;
          transform: scale(1.1, 1.1); }
    .block5 .text-vid video {
      width: 100%;
      max-height: 905px;
      height: 100%;
      position: relative;
      background: transparent url("../img/vid1.png") 50% 50%/cover no-repeat;
      z-index: 1; }
      .block5 .text-vid video:hover {
        cursor: pointer; }

/*--------------------------------------CONTENT BLOCK #5------------------------*/
/*--------------------------------------CONTENT BLOCK #6------------------------*/
.block6 {
  position: relative;
  min-height: 400px;
  height: 700px;
  background-color: #fbfaf8;
  padding-top: 70px;
  background-image: url("../img/hand.png");
  background-repeat: no-repeat;
  background-position: 27% bottom;
  background-size: 420px 85%; }
  .block6 .mob-info {
    height: 350px;
    margin-top: 140px;
    margin-left: 40px; }
    .block6 .mob-info .mob-header {
      color: #555555;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 22px; }
    .block6 .mob-info .mod-description {
      margin-top: 30px;
      color: #8c8c8c;
      font-family: 'Montserrat', sans-serif;
      width: 95%;
      font-size: 14px;
      font-weight: 500;
      text-align: justify; }
    .block6 .mob-info .mob-list {
      margin-top: 30px; }
      .block6 .mob-info .mob-list .m-list li {
        margin-left: 30px;
        box-sizing: border-box;
        list-style-type: none;
        margin-bottom: 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #8c8c8c;
        font-weight: 500;
        width: 100%; }
        .block6 .mob-info .mob-list .m-list li img {
          margin-right: 20px;
          margin-bottom: 5px; }

/*--------------------------------------CONTENT BLOCK #6------------------------*/
/*--------------------------------------CONTENT BLOCK #7------------------------*/
.block7 {
  background-image: url("../img/block8-bg.png");
  background-repeat: no-repeat;
  height: 300px;
  color: white;
  padding-top: 45px;
  box-sizing: border-box; }
  .block7 .counter {
    list-style-type: none;
    width: 100%;
    text-align: center; }
    .block7 .counter li {
      display: inline-block;
      margin-right: 70px;
      height: 200px;
      margin-top: 20px; }
      .block7 .counter li .counter-text {
        color: #c7b299;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px; }
      .block7 .counter li .counterList {
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 38px;
        font-weight: 300; }
      .block7 .counter li .list-logo {
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-bottom: 30px; }
    .block7 .counter .clients-logo {
      width: 44px;
      height: 44px;
      background-image: url("../img/clients-logo.png");
      background-repeat: no-repeat; }
    .block7 .counter .cups-logo {
      width: 48px;
      height: 44px;
      background-image: url("../img/cups-logo.png");
      background-repeat: no-repeat; }
    .block7 .counter .messages-logo {
      width: 44px;
      height: 44px;
      background-image: url("../img/posts.png");
      background-repeat: no-repeat; }
    .block7 .counter .likes-logo {
      width: 44px;
      height: 44px;
      background-image: url("../img/likes-logo.png");
      background-repeat: no-repeat; }
    .block7 .counter .launched-logo {
      width: 54px;
      height: 44px;
      background-image: url("../img/launched-logo.png");
      background-repeat: no-repeat; }

/*--------------------------------------CONTENT BLOCK #7------------------------*/
/*--------------------------------------CONTENT BLOCK #8------------------------*/
.block8 {
  min-height: 750px;
  height: auto;
  padding-top: 50px;
  background-color: #ffffff; }
  .block8 .text-block81 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    margin-top: 28px;
    margin-bottom: 30px; }
  .block8 .text-block82 {
    width: 67%;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #8c8c8c;
    font-size: 16px; }
  .block8 .img-hov {
    height: 220px;
    width: 361px;
    position: absolute;
    background-color: #2f2f2f;
    opacity: 0;
    transition: all 0.15s ease-in 0.05s; }
    .block8 .img-hov:hover {
      opacity: 0.65; }
  .block8 #posts-slider {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden; }
    .block8 #posts-slider .posts ul {
      height: 400px;
      width: 100%; }
      .block8 #posts-slider .posts ul li {
        list-style: none;
        display: inline-block;
        padding-bottom: 1px;
        margin-bottom: 5px;
        height: 154px;
        width: 32%;
        height: 400px;
        margin-right: 20px;
        border: 1px solid #F8F8F8; }
        .block8 #posts-slider .posts ul li:last-child {
          margin-right: 0; }
        .block8 #posts-slider .posts ul li:first-child {
          margin-left: -5px; }
        .block8 #posts-slider .posts ul li img {
          width: 370px;
          height: 220px; }
        .block8 #posts-slider .posts ul li:hover {
          cursor: pointer; }
        .block8 #posts-slider .posts ul li:hover .post-description {
          background-color: #362f2d; }
        .block8 #posts-slider .posts ul li:hover .post-text1 {
          color: #c7b299; }
        .block8 #posts-slider .posts ul li:hover .post-text2 {
          color: #ffffff; }
        .block8 #posts-slider .posts ul li:hover .img-hov {
          opacity: 0.65; }
        .block8 #posts-slider .posts ul li:hover .day_month {
          background-image: url("../img/dm-active.png");
          background-repeat: no-repeat; }
    .block8 #posts-slider .posts .post-description {
      height: 100%;
      transition: all 0.15s ease-in 0.05s; }
      .block8 #posts-slider .posts .post-description .post-text1 {
        padding-top: 30px;
        box-sizing: border-box;
        margin-left: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        color: #606060;
        font-size: 20px;
        transition: all 0.15s ease-in 0.05s; }
      .block8 #posts-slider .posts .post-description .post-text2 {
        margin-left: 20px;
        margin-top: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #AEAEAE;
        overflow: hidden;
        transition: all 0.15s ease-in 0.05s; }
  .block8 #posts-nav {
    text-align: center;
    padding-top: 25px; }
  .block8 #news-next {
    border: 0;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    background-image: url("../img/post-r-active-arrow.png");
    background-repeat: no-repeat;
    outline: 0;
    transition: all 0.15s ease-in 0.05s; }
    .block8 #news-next:hover {
      background-image: url("../img/post-r-arrow.png");
      transform: scale(1.2, 1.2); }
  .block8 #news-prev {
    border: 0;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    background-image: url("../img/post-l-active-arrow.png");
    background-repeat: no-repeat;
    outline: 0;
    margin-right: 8px;
    transition: all 0.15s ease-in 0.05s; }
    .block8 #news-prev:hover {
      background-image: url("../img/post-l-arrow.png");
      transform: scale(1.2, 1.2); }
  .block8 .day_month {
    position: absolute;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    background-image: url("../img/dm.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;
    transition: all 0.15s ease-in 0.05s; }
    .block8 .day_month .day {
      height: 35px;
      line-height: 35px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 22px; }
    .block8 .day_month .month {
      height: 25px;
      line-height: 25px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 13px; }

/*--------------------------------------CONTENT BLOCK #8------------------------*/
/*--------------------------------------CONTENT BLOCK #9------------------------*/
.block9 {
  background-image: url("../img/bg-partners.png");
  background-repeat: no-repeat;
  height: 489px; }
  .block9 #partners {
    list-style-type: none;
    margin-top: 140px; }
    .block9 #partners li {
      display: inline-block;
      margin-right: 65px; }
      .block9 #partners li:last-child {
        margin-right: 0; }
      .block9 #partners li .p-img {
        width: 100%;
        height: 100%; }

/*--------------------------------------CONTENT BLOCK #9------------------------*/
/*--------------------------------------CONTENT BLOCK #10-----------------------*/
.block10 {
  min-height: 510px;
  height: auto;
  background-color: #191919;
  color: white; }
  .block10 .logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 80px; }
  .block10 .about-us {
    color: #555555;
    width: 260px;
    margin-top: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 30px; }
  .block10 .read-more {
    text-decoration: none;
    color: #d1d1d1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.75;
    transition: all 0.15s ease-out 0.05s; }
    .block10 .read-more img {
      margin-left: 10px; }
    .block10 .read-more:hover {
      opacity: 1;
      color: #ac8e8e;
      text-decoration: underline;
      font-weight: bold;
      font-size: 16px; }
  .block10 .topic-footer {
    margin-top: 90px;
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 26px; }
  .block10 .postwitter {
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    list-style-type: none;
    width: 282px; }
    .block10 .postwitter li {
      line-height: 24px;
      margin-bottom: 15px;
      width: 250px;
      margin-left: -8px;
      text-align: justify; }
      .block10 .postwitter li .pos-twit-text {
        transition: all 0.15s ease-out 0.05s; }
        .block10 .postwitter li .pos-twit-text span {
          color: #0793b9; }
      .block10 .postwitter li .twit {
        width: 265px; }
      .block10 .postwitter li .time {
        color: #363636;
        transition: all 0.15s ease-out 0.05s; }
      .block10 .postwitter li .footer-line {
        background-image: url("../img/footer-line.png");
        background-repeat: no-repeat;
        width: 260px;
        height: 2px;
        margin-top: 15px; }
      .block10 .postwitter li:hover {
        cursor: pointer; }
      .block10 .postwitter li:hover .pos-twit-text {
        color: #c7b299; }
      .block10 .postwitter li:hover .time {
        color: #ffffff; }
  .block10 .drib-img {
    margin-left: 30px; }
    .block10 .drib-img .drib-hov {
      background-color: #2f2f2f;
      height: 90px;
      width: 100px;
      z-index: 100;
      top: 0;
      opacity: 0;
      position: absolute;
      transition: all 0.15s ease-in 0.05s; }
      .block10 .drib-img .drib-hov .search-dribble {
        width: 85%;
        height: 60%;
        margin-left: 15%;
        margin-top: 20%; }
      .block10 .drib-img .drib-hov:hover {
        opacity: 0.7;
        cursor: pointer; }
    .block10 .drib-img img {
      padding-right: 30px;
      margin-bottom: 10px;
      width: 130px;
      height: 90px; }

/*--------------------------------------CONTENT BLOCK #10-----------------------*/
/*--------------------------------------CONTENT BLOCK #11-----------------------*/
.block11 {
  height: 111px;
  background-color: #111111;
  padding-top: 20px;
  box-sizing: border-box; }
  .block11 .footer-nav {
    width: 500px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555555; }
    .block11 .footer-nav .copy {
      float: left; }
    .block11 .footer-nav .fnav {
      list-style-type: none; }
      .block11 .footer-nav .fnav li {
        display: inline-block; }
        .block11 .footer-nav .fnav li::before {
          content: '|';
          margin-right: 12px;
          margin-left: 12px; }
        .block11 .footer-nav .fnav li a {
          text-decoration: none;
          color: #555555;
          transition: all 0.1s ease-out 0.05s; }
          .block11 .footer-nav .fnav li a:hover {
            color: #959595;
            font-weight: 500;
            text-decoration: underline; }
  .block11 #footer-info {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555555;
    width: 210px;
    transition: all 0.1s ease-out 0.05s; }
    .block11 #footer-info #author {
      color: #959595;
      font-weight: 700;
      transition: all 0.1s ease-out 0.05s; }
      .block11 #footer-info #author a {
        text-decoration: none;
        color: #959595;
        transition: all 0.1s ease-out 0.05s;
        padding: 5px 7px 5px 7px;
        border-radius: 7px; }
        .block11 #footer-info #author a:hover {
          background-color: #797979;
          color: black; }

/*--------------------------------------CONTENT BLOCK #11-----------------------*/
